In [12]:
import pandas as pd
import numpy as np
import csv

df = pd.read_csv('data/acd_daily_census_data_06_2019.csv')

In [24]:
df.head()

         Date Gender Race  Age at Booking  Current Age
0  2019-06-01      M    B            23.0         25.0
1  2019-06-01      M    B            26.0         27.0
2  2019-06-01      M    B            25.0         26.0
3  2019-06-01      M    B            29.0         31.0
4  2019-06-01      M    B            29.0         30.0

In [6]:
df.describe()

       Age at Booking   Current Age
count    60660.000000  60659.000000
mean        34.365035     34.806970
std         11.498454     11.446463
min          0.000000     15.000000
25%         26.000000     26.000000
50%         32.000000     32.000000
75%         41.000000     41.000000
max         80.000000     80.000000

In [11]:
df.describe(include='all')

              Date Gender   Race  Age at Booking   Current Age
count        60663  60663  60650    60660.000000  60659.000000
unique          27      2      7             NaN           NaN
top     2019-06-03      M      B             NaN           NaN
freq          2280  53148  37023             NaN           NaN
mean           NaN    NaN    NaN       34.365035     34.806970
std            NaN    NaN    NaN       11.498454     11.446463
min            NaN    NaN    NaN        0.000000     15.000000
25%            NaN    NaN    NaN       26.000000     26.000000
50%            NaN    NaN    NaN       32.000000     32.000000
75%            NaN    NaN    NaN       41.000000     41.000000
max            NaN    NaN    NaN       80.000000     80.000000

In [78]:
focusDate = '2019-06-01'
b = df.loc[(df['Date'] == focusDate) & (df['Race'] == 'B')].shape[0]
w = df.loc[(df['Date'] == focusDate) & (df['Race'] == 'W')].shape[0]
print(f"b: {b}\nw: {w}")

b: 1354
w: 816

In [89]:
def countRace(input, focusDate):
    raceDict = {}

    with open(input) as f:
        reader = csv.DictReader(f)
        raceDict['B'] = 0
        raceDict['W'] = 0    
        for row in reader:
            if row['Date'] == focusDate:
                # ask dictionary if race key is present
                if row['Race'] == 'B':
                    raceDict['B'] += 1
                elif row['Race'] == 'W':
                    raceDict['W'] += 1
    return raceDict

In [90]:
def computePercents(input):
    total = 0
    # add up values for each race in our dict
    for k in input:
        total = total + raceDict[k]
    # computer percents by key
    for k in raceDict:
        perc = raceDict[k] / total
        print(f"Frac of inmates {k} : {perc}")

In [91]:
computePercents(countRace('data/acd_daily_census_data_06_2019.csv', '2019-06-01'))

Frac of inmates B : 0.623963133640553
Frac of inmates W : 0.376036866359447