In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/allegheny_county_food_violations.csv')

In [8]:
df.head()

,encounter,id,placard_st,facility_name,bus_st_date,description,description_new,num,street,city,...,zip,inspect_dt,start_time,end_time,municipal,rating,low,medium,high,url
0,201502270009,10762,1,North Versailles VFD / South Wilmerding Social...,1969-01-01,Social Club-Bar Only,Handwashing Facilities,830,Sylvan Ave,North Versailles,...,15137.0,2015-02-27,10:45:00,11:30:00,North Versailles,V,T,F,F,http://appsrv.alleghenycounty.us/reports/rwser...
1,201502270009,10762,1,North Versailles VFD / South Wilmerding Social...,1969-01-01,Social Club-Bar Only,"Fabrication, Design, Installation and Maintenance",830,Sylvan Ave,North Versailles,...,15137.0,2015-02-27,10:45:00,11:30:00,North Versailles,V,T,F,F,http://appsrv.alleghenycounty.us/reports/rwser...
2,201602100042,10762,1,North Versailles VFD / South Wilmerding Social...,1969-01-01,Social Club-Bar Only,Employee Personal Hygiene,830,Sylvan Ave,North Versailles,...,15137.0,2016-02-10,14:00:00,14:50:00,North Versailles,V,F,F,T,http://appsrv.alleghenycounty.us/reports/rwser...
3,201602100042,10762,1,North Versailles VFD / South Wilmerding Social...,1969-01-01,Social Club-Bar Only,Handwashing Facilities,830,Sylvan Ave,North Versailles,...,15137.0,2016-02-10,14:00:00,14:50:00,North Versailles,V,T,F,F,http://appsrv.alleghenycounty.us/reports/rwser...
4,201602100042,10762,1,North Versailles VFD / South Wilmerding Social...,1969-01-01,Social Club-Bar Only,"Contamination Prevention - Food, Utensils and ...",830,Sylvan Ave,North Versailles,...,15137.0,2016-02-10,14:00:00,14:50:00,North Versailles,V,T,F,F,http://appsrv.alleghenycounty.us/reports/rwser...

In [13]:
df.dtypes

encounter            int64
id                   int64
placard_st           int64
facility_name       object
bus_st_date         object
description         object
description_new     object
num                 object
street              object
city                object
state               object
zip                float64
inspect_dt          object
start_time          object
end_time            object
municipal           object
rating              object
low                 object
medium              object
high                object
url                 object
dtype: object

In [9]:
df.describe(include='all')

,encounter,id,placard_st,facility_name,bus_st_date,description,description_new,num,street,city,...,zip,inspect_dt,start_time,end_time,municipal,rating,low,medium,high,url
count,2.388590e+05,2.388590e+05,238859.000000,236827,236688,236827,238859,235384,236827,236827,...,236827.000000,238859,238859,238758,236827,238859,233385,186672,186672,238859
unique,NaN,NaN,NaN,10066,5235,52,33,3271,3076,77,...,NaN,1601,548,458,160,2,2,2,2,55419
top,NaN,NaN,NaN,Italian Village Pizza,1984-06-17,Restaurant with Liquor,Cleaning and Sanitization,1000,Penn Avenue,Pittsburgh,...,NaN,2015-07-21,11:00:00,16:30:00,Pittsburgh-104,V,T,F,F,http://appsrv.alleghenycounty.us/reports/rwser...
freq,NaN,NaN,NaN,824,11484,58716,24517,2975,5143,156949,...,NaN,435,11026,11135,13019,237249,165810,142983,160543,24
mean,2.016672e+11,1.494417e+11,1.025212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15185.502552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.573061e+08,8.784050e+10,0.244476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,167.555960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,2.014010e+11,1.000000e+01,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.015101e+11,5.754200e+04,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15136.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.017010e+11,2.008103e+11,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15212.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.018061e+11,2.014072e+11,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15222.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.019123e+11,2.019123e+11,7.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43964.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN